{{#each}}
<div class="row">
  <div class="col-xs-12">
    <h4 class="text-center">{{#link-to 'video' this}}{{title}}{{/link-to}}</h4>
    {{lazy-video url=embed_url classNames="embed-responsive embed-responsive-16by9"}}
  </div>
</div>
{{/each}}

<p><button type="button" class="btn btn-primary" {{action "loadVideos" this}}>Load More</button></p>

{{outlet}}
